<li class="ui-group-buttons" ng-controller="SaveLoadController">
    <button class="btn btn-default"
            ng-click="compileClick()">
        Compile
    </button>

    <button class="btn btn-default"
            ng-click="saveClick()">
        <span class="glyphicon glyphicon-cloud-download"></span>
        Save
    </button>

    <button class="btn btn-default"
        ng-click="loadClick()">
        <span class="glyphicon glyphicon-cloud-upload"></span>
    </button>
    <div style="display: none;">
        <form id="projectFileForm">
            <input type="file" name="file" id="projectFileInput">
        </form>
    </div>
</li>
